# History files
.Rhistory
.Rapp.history

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

dados/processados/
